.badge {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 30px;

  &--grey {
    background-color: #C9D1D3;
  }

  &--lime {
    background-color: #B6E6BD;
  }

  &--red {
    background-color: #FF6464;
  }

  &--purple {
    background-color: #C355F5;
  }

  &--black {
    background-color: #110133;
  }

  &--green {
    background-color: #42B883;
  }

  &--blue {
    background-color: #64C4ED;
  }

  &--pink {
    background-color: #FFBBCC;
  }
}
