.list {
  $self: &;

  margin-bottom: 30px;

  &__add-button {
    opacity: 0.4;

    &:hover {
      opacity: 0.8;
    }
  }

  li {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;
    margin-bottom: 2px;
    transition: background-color 0.15s ease-in-out;

    &:hover #{$self}__remove-icon {
      opacity: 0.3;
    }

    #{$self}__remove-icon {
      transition: opacity 0.15s ease-in-out;
      opacity: 0;

      &:hover {
        opacity: 0.8;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 160px;
        white-space: nowrap;
      }
    }

    span {
      flex: 1;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }

    &.active {
      background: #FFFFFF;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
    }

    .badge {
      position: relative;
      left: 5px;
    }

    i {
      display: inline-flex;
      margin-right: 8px;

      svg {
        path {
          fill: #7c7c7c;
        }
      }
    }
  }
}
