.add-list {

  &__popup {
    width: 240px;
    height: 150px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    box-sizing: border-box;
    position: relative;
    top: -20px;
    left: 20px;

    .button {
      width: 100%;
      margin-top: 12px;
    }

    &-close-btn {
      position: absolute;
      right: -8px;
      top: -8px;
      cursor: pointer;
    }

    &-colors {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;

      .badge {
        width: 16px;
        height: 16px;
        cursor: pointer;
        border: 2px solid transparent;

        &.active {
          border: 2px solid #525252;
        }
      }
    }
  }
}
